<div style="width:60%">
    <input id="books_search_name" class="easyui-searchbox" data-options="prompt:'请输入图书名称或者图书编号',menu:'#books_mm',searcher:function (name,status) {
        $('#books_dg').datagrid('load',{name:encodeURIComponent(name),
        status:status=='0'?'':status});
    }" style="width:100%">
</div>
<div id="books_mm">
    <div data-options="name:'0',iconCls:'icon-ok'">全部</div>
    <div data-options="name:'BORROWED'">借出</div>
    <div data-options="name:'MISSED'">损坏/丢失</div>
    <div data-options="name:'RETURNED'">入库</div>
</div>
<table id="books_dg" style="height: 97%;width: 99%"></table>
<div id="books_dlg_edit" class="easyui-dialog" style="width:100%;max-width:400px;padding:30px 60px;" data-options="
        title: '添加图书',
        closed: true,
        modal: true,
        draggable: false,
        iconCls: 'icon-add',
        buttons: [{
        text: '保存',
        iconCls: 'icon-ok',
        handler: $.books.submitForm
        }, {
        text: '取消',
        iconCls: 'icon-cancel',
        handler: $.books.closeEditDialog
        }]
        ">
    <form id="books_ff" class="easyui-form" method="post" data-options="novalidate:true">
        <div style="margin-bottom:20px;display: none">
            <input class="easyui-textbox" name="id" style="width:100%" data-options="label:'图书记录id:'">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" name="code" style="width:100%"
                   data-options="label:'图书编号:',required:true">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" name="name" style="width:100%"
                   data-options="label:'图书名称:',required:true">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" name="author" style="width:100%"
                   data-options="label:'作者:',required:true">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" name="translator" style="width:100%"
                   data-options="label:'译者:',required:true">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" name="publisher" style="width:100%"
                   data-options="label:'出版社:',required:true">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-datebox" name="date" style="width:100%"
                   data-options="label:'出版日期:',required:true">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-numberbox" name="price" style="width:100%"
                   data-options="label:'价格:',required:true">
        </div>
        <div style="margin-bottom:20px">
            <select class="easyui-combobox" name="status" label="状态" style="width:100%">

                <option value="RETURNED">在库</option>
                <option value="BORROWED">借出</option>
                <option value="MISSED">损毁遗失</option>
            </select>
        </div>
    </form>
</div>
<div id="books_dlg_import" class="easyui-dialog" style="width:100%;max-width:400px;padding:30px 60px;"
     data-options="
                    title: '导入',
                    closed: true,
                    modal: true,
                    draggable: false,
                    iconCls: 'icon-undo',
                    buttons: [{
                    text: '导入',
                    iconCls: 'icon-redo',
                    handler: $.books.importBooks
                    }, {
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function(){
                        $('#books_dlg_import').dialog('close');
                    }
                    }],
                    onClose:function(){
                        $('#books_dlg_import_ff').form('clear');
                    }
                    ">
    <form id="books_dlg_import_ff" class="easyui-form" method="post" action="books/import" enctype="multipart/form-data"
          data-options="novalidate:true">
        <input name="file" class="easyui-filebox" style="width:100%" data-options="prompt:'选择文件',buttonText:'选择'">
    </form>
</div>
<script type="text/javascript">
    $(function () {
        $('#books_dg').datagrid({
            url: 'books/list',
            method: 'get',
            iconCls: 'icon-save',
            fitColumns: true,
            singleSelect: false,
            pagination: true,
            pageSize: 10,
            rownumbers: true,
            toolbar: [{
                text: '添加',
                iconCls: 'icon-add',
                handler: function () {
                    showEditDialog();
                }
            }, {
                text: '编辑',
                iconCls: 'icon-edit',
                handler: function () {
                    var rows = $('#books_dg').datagrid('getChecked');
                    if (!rows || !rows.length) {
                        $.messager.alert('提示', '请选择要编辑的行!');
                        return;
                    }
                    if (rows.length > 1) {
                        $.messager.alert('提示', '只能选择一行进行编辑!');
                        return;
                    } else {
                        showEditDialog(rows[0]);
                    }
                }
            }, {
                text: '删除',
                iconCls: 'icon-remove',
                handler: function () {
                    var rows = $('#books_dg').datagrid('getChecked');
                    if (!rows || !rows.length) {
                        $.messager.alert('提示', '请选择要删除的行!');
                        return;
                    }
                    $.messager.confirm('提示', '是否确定删除这' + rows.length + '条数据?', function (r) {
                        if (r) {
                            remove($.map(rows, function (row, i) {
                                return row.id;
                            }), function () {
                                $('#books_dg').datagrid('reload');
                            });
                        }
                    });
                }
            }, {
                text: '导入',
                iconCls: 'icon-undo',
                handler: function () {
                    $('#books_dlg_import').dialog('open');
                }
            }, {
                text: '导出',
                iconCls: 'icon-redo',
                handler: function () {
                    var name = $('#books_search_name').val();
                    window.location = 'books/export' + (name ? ('?name=' + encodeURIComponent(name)) : '');
                }
            }, {
                text: '数据模板',
                plain: true,
                handler: function () {
                    window.location = 'books/template';
                }
            }],
            columns: [[
                {field: 'ck', checkbox: true},
                {field: 'id', title: 'ID', hidden: true},
                {field: 'code', title: '图书编号'},
                {field: 'name', title: '图书名称'},
                {field: 'author', title: '作者'},
                {field: 'translator', title: '译者'},
                {field: 'publisher', title: '出版社'},
                {
                    field: 'date', title: '出版日期', formatter: function (val, row) {
                    return val ? $.formatDate(new Date(val), 'yyyy-MM-dd') : null;
                }
                },
                {field: 'price', title: '价格'},
                {
                    field: 'STATUS', title: '状态', formatter: function (val, row) {
                    return row.missed ? '损毁遗失' : {RETURNED: '在库', BORROWED: '借出', MISSED: '损毁遗失'}[val || 'RETURNED'];
                }
                }
            ]],
            onHeaderContextMenu: function (e, field) {
                e.preventDefault();
                if (!$.cmenu) {
                    createColumnMenu();
                }
                $.cmenu.menu('show', {
                    left: e.pageX,
                    top: e.pageY
                });
            }
        });
        function booksredo(data) {
            var $form = $('#books_dialog_ff');
            $form.form({url: '/books/update'});
            $form.form('load', data);
            $('#books_dlg_dlg_edit').dialog({title: '编辑用户'});
            $('#books_dlg_dlg_edit').dialog('open');
        }

        function createColumnMenu() {
            $.cmenu = $('<div/>').appendTo('body');
            $.cmenu.menu({
                onClick: function (item) {
                    if (item.iconCls == 'icon-ok') {
                        $('#books_dg').datagrid('hideColumn', item.name);
                        $.cmenu.menu('setIcon', {
                            target: item.target,
                            iconCls: 'icon-empty'
                        });
                    } else {
                        $('#books_dg').datagrid('showColumn', item.name);
                        $.cmenu.menu('setIcon', {
                            target: item.target,
                            iconCls: 'icon-ok'
                        });
                    }
                }
            });
            var fields = $('#books_dg').datagrid('getColumnFields');
            for (var i = 0; i < fields.length; i++) {
                var field = fields[i];
                var col = $('#books_dg').datagrid('getColumnOption', field);
                $.cmenu.menu('appendItem', {
                    text: col.title,
                    name: field,
                    iconCls: 'icon-ok'
                });
            }
        }


        function showEditDialog(data) {
            var $form = $('#books_ff');
            if (data) {
                $form.form({url: '/books/update'});
                $form.form('load', data);
                $('#books_dlg_edit').dialog({title: '编辑图书'});
            } else {
                $form.form({url: '/books/add'});
                $('#books_dlg_edit').dialog({title: '新增图书'});
            }
            $('#books_dlg_edit').dialog('open');
        }

        function submitForm() {
            $.messager.progress({title: '数据保存中,请稍后...'});	// display the progress bar
            $('#books_ff').form('enableValidation').form('submit', {
                onSubmit: function () {
                    var isValid = $(this).form('validate');
                    if (!isValid) {
                        $.messager.progress('close');	// hide progress bar while the form is invalid
                    }
                    return isValid;	// return false will stop the form submission
                },
                success: function (data) {
                    data = $.parseJSON(data);
                    $.messager.progress('close');	// hide progress bar while submit successfully
                    if (data.flag) {
                        $.messager.alert('提示', '保存成功!');
                        $('#books_dg').datagrid('reload');
                        closeEditDialog();
                    } else {
                        $.messager.alert('提示', data.msg || '保存失败,请检查网络连接或者权限!');
                    }
                }
            });
        }

        function importBooks() {
            $.messager.progress({title: '数据导入中,请稍后...'});	// display the progress bar
            $('#books_dlg_import_ff').form('enableValidation').form('submit', {
                onSubmit: function () {
                    var isValid = $(this).form('validate');
                    if (!isValid) {
                        $.messager.progress('close');
                        $.messager.alert('提示', '请选择文件!');
                    }
                    return isValid;
                },
                success: function (data) {

                    data = $.parseJSON(data);
                    $.messager.progress('close');
                    if (data.flag) {

                        var msg_arr = [];
                        var repeated = data.repeated;
                        var missed = data.missed;

                        if (data.inserted) {
                            $('#books_dg').datagrid('reload');
                            msg_arr.push('成功导入');
                            msg_arr.push(data.inserted);
                            msg_arr.push('条数据!<br>');
                        } else {
                            msg_arr.push('未导入有效数据!<br>');
                        }

                        function appendMsg(msg, items) {
                            var tr = '<tr><td>code</td><td>name</td></tr>';

                            function getTr(item) {
                                return tr.replace(/code/, item.code||'').replace(/name/, item.name||'');
                            }

                            msg_arr.push(msg);
                            msg_arr.push('<table><thead><th>编号</th><th>书名</th></thead><tbody>');
                            if (items.length < 10) {
                                items.forEach(function (item) {
                                    msg_arr.push(getTr(item));
                                });
                            } else {
                                for (var i = 0; i < 10; i++) {
                                    msg_arr.push(getTr(items[i]));
                                }
                                msg_arr.push('<tr><td colspan="2">等count条数据</td></tr>'.replace(/count/, items.length));
                            }
                            msg_arr.push('</tbody></table>');
                        }

                        if (repeated && repeated.length) {
                            appendMsg('以下图书数据重复,未能导入!', repeated);
                        }
                        if (missed && missed.length) {
                            appendMsg('以下用户数据信息不完整,未能导入!', missed);
                        }
                        $.messager.alert('提示:导入结束!', msg_arr.join(''));
                        $('#books_dlg_import').dialog('close');

                    } else {
                        $.messager.alert('提示', data.msg || '导入失败,请检查网络连接或者权限!');
                    }
                }
            });
        }

        function closeEditDialog() {
            $('#books_ff').form('clear');
            $('#books_dlg_edit').dialog('close');
            $('#books_dialog_ff').form('clear');
            $('#books_dlg_dlg_edit').dialog('close');
        }

        function remove(ids, callback) {
            $.messager.progress({title: '正在删除,请稍后...'});	// display the progress bar
            $.ajax({
                url: '/books/delete',
                data: {ids: ids},
                type: 'post',
                dataType: 'json'
            }).done(function (ret) {
                console.log(ret);
                if (ret && ret.flag) {
                    if ($.isFunction(callback)) {
                        callback();
                    }
                    $.messager.alert('提示', '删除成功!');
                } else {
                    $.messager.alert('提示', ret, msg || '删除失败!');
                }
            }).fail(function () {
                $.messager.alert('提示', '删除失败!');
            }).always(function () {
                $.messager.progress('close');
            });
        }

        $.extend({
            books: {
                submitForm: submitForm,
                importBooks: importBooks,
                closeEditDialog: closeEditDialog
            }
        });
    });

</script>
