<div style="width:60%">
    <input class="easyui-searchbox" data-options="prompt:'请输入图书名称或图书编号',menu:'#books_manager_mm',searcher:function (name, return_status) {
        $('#users_dg').datagrid('load',{
            name:encodeURIComponent(name),
            return_status:return_status=='0'?'':return_status
        });
    }" style="width:100%">
</div>
<div id="books_manager_mm">
    <div data-options="name:'',iconCls:'icon-ok'">全部</div>
    <div data-options="name:'loan'">借出</div>
    <div data-options="name:'damaged'">损坏/丢失</div>
    <div data-options="name:'inquiry'">入库</div>
</div>
<table id="books_manager_dg" style="height: 97%;width: 99%"></table>
<div id="books_manager_dlg_edit" style="width:100%;max-width:400px;padding:30px 60px;" data-options="
title: '添加图书',
closed: true,
modal: true,
draggable: false,
iconCls: 'icon-add',
buttons: [{
text: '保存',
iconCls: 'icon-ok',
handler: $.books_manager.submitForm
}, {
text: '取消',
iconCls: 'icon-cancel',
handler: $.books_manager.closeEditDialog
}]
">
    <form id="books_manager_ff" class="easyui-form" method="post" data-options="novalidate:true">
        <div style="margin-bottom:20px;display: none">
            <input class="easyui-textbox" name="id" style="width:100%" data-options="label:'图书记录id:',required:true">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" name="code" style="width:100%"
                   data-options="label:'图书编号:',required:true">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" name="name" style="width:100%"
                   data-options="label:'图书名称:',required:true">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" name="publisher" style="width:100%"
                   data-options="label:'出版社:',required:true">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" name="author" style="width:100%"
                   data-options="label:'作者:',required:true">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" name="price" style="width:100%"
                   data-options="label:'价格:',required:true">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" name="status" style="width:100%"
                   data-options="label:'图书状态:',required:true">
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        $('#books_manager_dg').datagrid({
            url: '/books/list',
            method: 'get',
            iconCls: 'icon-save',
            fitColumns: true,
            singleSelect: false,
            pagination: true,
            pageSize: 10,
            toolbar: [{
                text: '添加',
                iconCls: 'icon-add',
                handler: function () {
                    showEditDialog();
                }
            }, {
                text: '编辑',
                iconCls: 'icon-edit',
                handler: function () {
                    var rows = $('#books_manager_dg').datagrid('getChecked');
                    if (!rows || !rows.length) {
                        $.messager.alert('提示', '请选择要编辑的行!');
                        return;
                    }
                    if (rows.length > 1) {
                        $.messager.alert('提示', '只能选择一行进行编辑!');
                        return;
                    } else {
                        showEditDialog(rows[0]);
                    }
                }
            }, {
                text: '删除',
                iconCls: 'icon-remove',
                handler: function () {
                    var rows = $('#books_manager_dg').datagrid('getChecked');
                    if (!rows || !rows.length) {
                        $.messager.alert('提示', '请选择要删除的行!');
                        return;
                    }
                    $.messager.confirm('提示', '是否确定删除这' + rows.length + '条数据?', function (r) {
                        if (r) {
                            remove($.map(rows, function (i, row) {
                                return row.id;
                            }), function () {
                                $('#books_manager_dg').datagrid('reload');
                            });
                        }
                    });
                }
            }],
            columns: [[
                {field: 'ck', checkbox: true},
                {field: 'id', title: 'ID', hidden: true},
                {field: 'code', title: '图书编号'},
                {field: 'name', title: '图书名称'},
                {field: 'publisher', title: '出版社'},
                {field: 'author', title: '作者'},
                {field: 'price', title: '价格'},
                {field: 'status', title: '图书状态'}
            ]],
            onHeaderContextMenu: function (e, field) {
                e.preventDefault();
                if (!$.cmenu) {
                    createColumnMenu();
                }
                $.cmenu.menu('show', {
                    left: e.pageX,
                    top: e.pageY
                });
            }
        });
        function createColumnMenu() {
            $.cmenu = $('<div/>').appendTo('body');
            $.cmenu.menu({
                onClick: function (item) {
                    if (item.iconCls == 'icon-ok') {
                        $('#books_manager_dg').datagrid('hideColumn', item.name);
                        $.cmenu.menu('setIcon', {
                            target: item.target,
                            iconCls: 'icon-empty'
                        });
                    } else {
                        $('#books_manager_dg').datagrid('showColumn', item.name);
                        $.cmenu.menu('setIcon', {
                            target: item.target,
                            iconCls: 'icon-ok'
                        });
                    }
                }
            });
            var fields = $('#books_manager_dg').datagrid('getColumnFields');
            for (var i = 0; i < fields.length; i++) {
                var field = fields[i];
                var col = $('#books_manager_dg').datagrid('getColumnOption', field);
                $.cmenu.menu('appendItem', {
                    text: col.title,
                    name: field,
                    iconCls: 'icon-ok'
                });
            }
        }


        function showEditDialog(data) {
            if (data) {
                $('#books_manager_ff').form({url: '/books/update'});
                $('#books_manager_ff').form('load', data);
                $('#books_manager_dlg_edit').dialog({url: 'edit'});
            } else {
                $('#books_manager_ff').form({url: '/books/add'});
                $('#books_manager_dlg_edit').dialog({url: 'add'});
            }
            $('#books_manager_dlg_edit').dialog('open');
        }

        function submitForm() {
            $.messager.progress({title:'数据保存中,请稍后...'});	// display the progress bar
            $('#books_manager_ff').form('enableValidation').form('submit', {
                onSubmit: function () {
                    var isValid = $(this).form('validate');
                    if (!isValid) {
                        $.messager.progress('close');	// hide progress bar while the form is invalid
                    }
                    return isValid;	// return false will stop the form submission
                },
                success: function (data) {
                    data = $.parseJSON(data);
                    $.messager.progress('close');	// hide progress bar while submit successfully
                    if (data.flag) {
                        $.messager.alert('提示', '保存成功!');
                        $('#books_manager_dg').datagrid('reload');
                        closeEditDialog();
                    } else {
                        $.messager.alert('提示', data.msg || '保存失败,请检查网络连接或者权限!');
                    }
                }
            });
        }

        function closeEditDialog() {
            $('#books_manager_ff').form('clear');
            $('#books_manager_dlg_edit').dialog('close');
        }

        function remove(ids,callback) {
            $.ajax({
                url: '/books/delete',//TODO url
                data: {ids: ids},
                type: 'post',
                dataType: 'json'
            }).done(function (ret) {
                if (ret && ret.flag) {
                    if($.isFunction(callback)){
                        callback();
                    }
                    $.messager.alert('提示', '删除成功!');
                } else {
                    $.messager.alert('提示', ret, msg || '删除失败!');
                }
            }).fail(function () {
                $.messager.alert('提示', '删除失败!');
            }).always(function () {
                $.messager.progress('close');
            });
        }
        $.extend({
            books_manager:{
                submitForm:submitForm,
                closeEditDialog:closeEditDialog
            }
        });
    });

</script>
