<div style="width:60%">
    <input class="easyui-searchbox" data-options="prompt:'请输入图书名称或图书编号',menu:'#books_query_mm',searcher:function (name, status) {
        $('#books_query_dg').datagrid('load',{
            name:encodeURIComponent(name),
            status:status==0?'':status
        });
    }" style="width:100%">
</div>
<div id="books_query_mm">
    <div data-options="name:'0',iconCls:'icon-ok'">全部</div>
    <div data-options="name:'BORROWED'">借出</div>
    <div data-options="name:'MISSED'">损坏/丢失</div>
    <div data-options="name:'RETURNED'">入库</div>
</div>
<div style="height: 96%;width: 100%;overflow: hidden">
    <table id="books_query_dg" style="height: 100%;width: 102%;"></table>
</div>
<div id="books_query_dlg_edit" class="easyui-dialog" style="width:100%;max-width:800px;padding:30px 60px;" data-options="
    title: '图书详情',
    closed: true,
    modal: true,
    draggable: false
    ">
    <table id="books_query_dlg_dg" style="width: 99%;"></table>
</div>
<script type="text/javascript">
    $(function () {
        $('#books_query_dlg_dg').datagrid({
            url: '/books/list',
            method: 'get',
            iconCls: 'icon-save',
            fitColumns: true,
            singleSelect: true,
            columns: [[
                {field: 'id', title: 'ID', hidden: true},
                {field: 'code', title: '图书编号'},
                {field: 'name', title: '图书名称'},
                {field: 'author', title: '作者'},
                {field: 'publisher', title: '出版社'},
                {field: 'date', title: '出版日期'},
                {field: 'price', title: '价格'},
                {field: 'status', title: '图书状态'},
                {field: 'deadline', title: '应归还日期'}

            ]],
            onHeaderContextMenu: function (e, field) {
                e.preventDefault();
                if (!$.cmenu) {
                    createColumnMenu();
                }
                $.cmenu.menu('show', {
                    left: e.pageX,
                    top: e.pageY
                });
            }
        });
        $('#books_query_dg').datagrid({
            url: '/books/list',
            method: 'get',
            iconCls: 'icon-save',
            fitColumns: true,
            singleSelect: true,
            rownumbers:true,
            pagination: true,
            pageSize: 10,
            columns: [[
                {field: 'id', title: 'ID', hidden: true},
                {field: 'code', title: '编号'},
                {field: 'name', title: '名称'	},
                {field: 'author', title: '作者'},
                {field: 'translator', title: '译者'},
                {field: 'publisher', title: '出版社'},
                {field: 'date', title: '出版日期',formatter:function (val,row) {
                    return val?$.formatDate(new Date(val),'yyyy-MM-dd'):null;
                }},
                {field: 'price', title: '价格'},
                {
                    field: 'STATUS', title: '状态', formatter: function (val, row) {
                    return {RETURNED:'在库',OVERDUE:'借出(超期)',MISSED:'损毁遗失',BORROWED:'借出'}[val]||'在库';
                }
                }
            ]],
            onHeaderContextMenu: function (e, field) {
                e.preventDefault();
                if (!$.cmenu) {
                    createColumnMenu();
                }
                $.cmenu.menu('show', {
                    left: e.pageX,
                    top: e.pageY
                });
            }
        });
        function createColumnMenu() {
            $.cmenu = $('<div/>').appendTo('body');
            $.cmenu.menu({
                onClick: function (item) {
                    if (item.iconCls == 'icon-ok') {
                        $('#books_query_dg').datagrid('hideColumn', item.name);
                        $.cmenu.menu('setIcon', {
                            target: item.target,
                            iconCls: 'icon-empty'
                        });
                    } else {
                        $('#books_query_dg').datagrid('showColumn', item.name);
                        $.cmenu.menu('setIcon', {
                            target: item.target,
                            iconCls: 'icon-ok'
                        });
                    }
                }
            });
            var fields = $('#books_query_dg').datagrid('getColumnFields');
            for (var i = 0; i < fields.length; i++) {
                var field = fields[i];
                var col = $('#books_query_dg').datagrid('getColumnOption', field);
                $.cmenu.menu('appendItem', {
                    text: col.title,
                    name: field,
                    iconCls: 'icon-ok'
                });
            }
        }
    });

</script>
