<div style="width:60%">
    <input class="easyui-searchbox" data-options="prompt:'请输入图书名称或图书编号',searcher:function (name) {
        $('#borrow_dg').datagrid('load',{
            name:encodeURIComponent(name)
        });
    }" style="width:100%">
</div>
<table id="borrow_dg" style="height: 97%;width: 99%"></table>
<div id="borrow_dlg_edit" class="easyui-dialog" style="width:100%;max-width:800px;padding:30px 60px;" data-options="
    title: '查看借阅库',
    closed: true,
    modal: true,
    draggable: false,
    buttons: [{
    text: '借阅',
    iconCls: 'icon-ok',
    handler: $.borrow.submitForm
    }, {
    text: '取消',
    iconCls: 'icon-cancel',
    handler: $.borrow.closeEditDialog
    }]
    ">
    <div style="width: 49%;display: inline-block;">
        <table id="borrow_dialog_dg" title="图书信息" style="width: 99%;"></table>
    </div>
    <div style="width: 50%;display: inline-block;vertical-align: top;">
        <div class="easyui-panel" data-options="title:'借阅信息'" style="padding:10px;">
            <form id="borrow_dialog_ff" class="easyui-form" method="post" data-options="novalidate:true,">
                <div style="margin-bottom:20px">
                    <input class="easyui-textbox select" name="code" style="width:100%"
                           data-options="label:'借阅人编号:',required:true,editable:false,buttonText:'选择',
                   buttonIcon:'icon-search'" url="borrow_index_dialog.ejs" >
                </div>
                <div style="margin-bottom:20px">
                    <input class="easyui-textbox" name="name" style="width:100%"
                           data-options="label:'借阅人姓名:',required:true">
                </div>
                <div style="margin-bottom:20px">
                    <input class="easyui-textbox dt" name="borrow_date" style="width:100%"
                           data-options="label:'借阅日期:',required:true">
                </div>
                <div style="margin-bottom:20px">
                    <input class="easyui-textbox dt" name="deadline" style="width:100%"
                           data-options="label:'应归还日期:',required:true">
                </div>
                <div style="margin-bottom:20px">
                    <input class="easyui-textbox" name="data" style="width:100%"
                           data-options="label:'借阅周期:',required:true">
                </div>

            </form>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('input.select').textbox({
            onClickButton: function () {
                var url = $(this).attr('url');
                selectChild(url, function (data) {
                    var names = [];
                    var ids = [];
                    $.each(data, function (i, item) {
                        ids.push(item.id);
                        names.push(item.name);
                    });
                    $(this).textbox('setValue', ids);
                    $(this).textbox('setText', names);
                });
            }
        });
        function selectChild(url, callback) {
            var $doc = $(document);
            var height = screen.availHeight*0.5, width = screen.availWidth*0.3;
            var $div = $('<div/>', {'height':height, width:width});
            $div.dialog({
                title: '请选择',
                closed: false,
                cache: true,
                href: 'borrow_index_dialog.ejs',
                modal: true,
                buttons: [{
                    text: '确定',
                    handler: function () {
                        if (true || $.isFunction(callback)) {
                            var data = $div.find('#borrow_dialog_dialog_dg').datagrid('getChecked');
                            if (data && data.length > 0) {
                                console.log(data);
                                $div.dialog('close');
                                callback(data);
                            } else {
                                $.messager.alert('提示', '请选择数据!');
                            }
                        }
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        $div.dialog('close');
                    }
                }]
            });
        }
        $('.dt').datetimebox({
            showSeconds: false,
        });
        $('#borrow_dialog_dg').datagrid({
            url: '/books/list',
            method: 'get',
            fitColumns: true,
            singleSelect: false,
            toolbar: [{
                text: '删除',
                iconCls: 'icon-cancel',
                handler: function () {
                    var rows = $('#borrow_dialog_dg').datagrid('getChecked');
                    if (!rows || !rows.length) {
                        $.messager.alert('提示', '请选择要删除的行!');
                        return;
                    }
                    $.messager.confirm('提示', '是否确定删除这' + rows.length + '条数据?', function (r) {
                        if (r) {
                            remove($.map(rows, function (i, row) {
                                return row.id;
                            }), function () {
                                $('#borrow_dialog_dg').datagrid('reload');
                            });
                        }
                    });
                }
            }],
            columns: [[
                {field: 'ck', checkbox: true},
                {field: 'id', title: 'ID', hidden: true},
                {field: 'code', title: '图书编号'},
                {field: 'name', title: '图书名称'}
            ]]
        });
        $('#borrow_dg').datagrid({
            url: '/books/list',
            method: 'get',
            iconCls: 'icon-save',
            fitColumns: true,
            singleSelect: false,
            pagination: true,
            pageSize: 10,
            toolbar: [{
                text: '加入借阅库',
                handler: function () {
                    var rows = $('#borrow_dg').datagrid('getChecked');
                    if (!rows || !rows.length) {
                        $.messager.alert('提示', '请选择要加入的行!');
                        return;
                    }
                    $.messager.confirm('提示', '是否确定加入这' + rows.length + '条数据?', function (r) {
                        if (r) {
                            adds($.map(rows, function (i, row) {
                                return row.id;
                            }), function () {
                                $('#borrow_dg').datagrid('reload');
                            });
                        }
                    });
                }
            }, {
                text: '查看借阅库',
                handler: function () {
                    showEditDialog();
                }
            }],
            columns: [[
                {field: 'ck', checkbox: true},
                {field: 'id', title: 'ID', hidden: true},
                {field: 'code', title: '图书编号'},
                {field: 'name', title: '图书名称'},
                {field: 'borrow_data', title: '借阅日期'},
                {field: 'deadline', title: '应归还日期'},
                {field: 'e_user_id', title: '借阅人'}

            ]],
            onHeaderContextMenu: function (e, field) {
                e.preventDefault();
                if (!$.cmenu) {
                    createColumnMenu();
                }
                $.cmenu.menu('show', {
                    left: e.pageX,
                    top: e.pageY
                });
            }
        });
        function createColumnMenu() {
            $.cmenu = $('<div/>').appendTo('body');
            $.cmenu.menu({
                onClick: function (item) {
                    if (item.iconCls == 'icon-ok') {
                        $('#borrow_dg').datagrid('hideColumn', item.name);
                        $.cmenu.menu('setIcon', {
                            target: item.target,
                            iconCls: 'icon-empty'
                        });
                    } else {
                        $('#borrow_dg').datagrid('showColumn', item.name);
                        $.cmenu.menu('setIcon', {
                            target: item.target,
                            iconCls: 'icon-ok'
                        });
                    }
                }
            });
            var fields = $('#borrow_dg').datagrid('getColumnFields');
            for (var i = 0; i < fields.length; i++) {
                var field = fields[i];
                var col = $('#borrow_dg').datagrid('getColumnOption', field);
                $.cmenu.menu('appendItem', {
                    text: col.title,
                    name: field,
                    iconCls: 'icon-ok'
                });
            }
        }

        function showEditDialog(data) {
            if (data) {
                $('#borrow_dialog_ff').form({url: '/books/update'});
                $('#borrow_dialog_ff').form('load', data);
                $('#borrow_dlg_edit').dialog({url: 'edit'});
            } else {
                $('#borrow_dialog_ff').form({url: '/books/add'});
                $('#borrow_dlg_edit').dialog({url: 'add'});
            }
            $('#borrow_dlg_edit').dialog('open');
        }

        function submitForm() {
            $.messager.progress({title:'数据保存中,请稍后...'});	// display the progress bar
            $('#borrow_dialog_ff').form('enableValidation').form('submit', {
                onSubmit: function () {
                    var isValid = $(this).form('validate');
                    if (!isValid) {
                        $.messager.progress('close');	// hide progress bar while the form is invalid
                    }
                    return isValid;	// return false will stop the form submission
                },
                success: function (data) {
                    $.messager.progress('close');	// hide progress bar while submit successfully

                    if (data.flag) {
                        $.messager.alert('提示', '保存成功!');
                        $('#borrow_dialog_dg').datagrid('reload');
                        closeEditDialog();
                    } else {
                        $.messager.alert('提示', data.message || '保存失败,请检查网络连接或者权限!');
                    }
                }
            });
        }

        function closeEditDialog() {
            $('#borrow_ff').form('clear');
            $('#borrow_dlg_edit').dialog('close');
        }

        function adds(ids,callback) {
            $.ajax({
                url: '/books/add',//TODO url
                data: {ids: ids},
                type: 'post',
                dataType: 'json'
            }).done(function (ret) {
                if (ret && ret.flag) {
                    $.messager.alert('提示', '加入成功!');
                } else {
                    $.messager.alert('提示', ret, msg || '加入失败!');
                }
            }).fail(function () {
                $.messager.alert('提示', '加入失败!');
            }).always(function () {
                $.messager.progress('close');
            });
        }

        function remove(ids,callback) {
            $.ajax({
                url: '/books/delete',//TODO url
                data: {ids: ids},
                type: 'post',
                dataType: 'json'
            }).done(function (ret) {
                if (ret && ret.flag) {
                    $.messager.alert('提示', '删除成功!');
                } else {
                    $.messager.alert('提示', ret, msg || '删除失败!');
                }
            }).fail(function () {
                $.messager.alert('提示', '删除失败!');
            }).always(function () {
                $.messager.progress('close');
            });
        }

        $.extend({
            borrow: {
                submitForm: submitForm,
                closeEditDialog: closeEditDialog
            }
        });
    })

</script>