<div style="width:60%">
    <input class="easyui-searchbox" data-options="prompt:'请输入图书名称或图书编号',searcher:function (name) {
        $('#borrow_dg').datagrid('load',{name:encodeURIComponent(name)});
    }" style="width:100%">
</div>
<div style="height: 96%;width: 100%;overflow: hidden">
    <table id="borrow_dg" style="height: 100%;width: 102%;"></table>
</div>
<div id="borrow_dlg_cache" class="easyui-dialog"
     style="width:100%;max-width:800px;padding:10px 20px;margin-right: -10px" data-options="
    title: '借阅一览表',
    left:$(window).width()/2,
    top:$(window).height()/2,
    closed: false,
    modal: false,
    inline:true,
    draggable: true,
    minimizable:false,
    collapsible:true,
    closable:false,
    buttons: [{
    text: '借阅',
    iconCls: 'icon-ok',
    handler: $.borrow.submitForm
    }, {
    text: '清空',
    iconCls: 'icon-cancel',
    handler: $.borrow.clearEditDialog
    }],
    onClose:function(){
        $(this).find('form').form('clear');
    }
    ">
    <div style="width: 59%;display: inline-block;">
        <table id="borrow_dlg_dg" title="图书信息" style="width: 99%;"></table>
    </div>
    <div style="width: 40%;display: inline-block;vertical-align: top;">
        <div class="easyui-panel" data-options="title:'借阅信息'" style="padding:10px;">
            <form id="borrow_dialog_ff" class="easyui-form" data-options="novalidate:true,">
                <div style="margin-bottom:20px">
                    <input id="borrow_select_user_code" name="user_id" style="width:100%">
                </div>
                <div style="margin-bottom:20px">
                    <input id="borrow_select_user_name" class="easyui-textbox" style="width:100%"
                           data-options="label:'借阅人姓名:',required:true,disabled:true">
                </div>
                <div style="margin-bottom:20px">
                    <input id="borrow_select_user_borrow_date" class="easyui-textbox dt" name="borrow_date"
                           style="width:100%"
                           data-options="label:'借阅日期:',required:true,editable:false,disabled:true">
                </div>
                <div style="margin-bottom:20px">
                    <input id="borrow_select_user_return_date" class="easyui-textbox dt" name="deadline"
                           style="width:100%"
                           data-options="label:'应归还日期:',required:true,editable:false,disabled:true">
                </div>
                <div style="margin-bottom:20px">
                    <input id="borrow_select_user_period" class="easyui-textbox" name="data" style="width:100%"
                           data-options="label:'借阅周期:',required:true,editable:false,disabled:true">
                </div>

            </form>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#borrow_select_user_code').textbox({
            label: '借阅人编号:',
            required: true,
            editable: false,
            buttonText: '选择',
            buttonIcon: 'icon-search',
            onClickButton: function () {
                var _this = this;
                selectUser(function (data) {
                    var name = data[0].name;
                    var id = data[0].id;
                    var code = data[0].code;
                    var period = data[0].period;
                    $(_this).textbox('setValue', id);
                    $(_this).textbox('setText', code);
                    $('#borrow_select_user_name').textbox('setText', name);
                    $('#borrow_select_user_period').textbox('setText', period);
                    var date = new Date();
                    var deadline = period ? new Date(date.getTime() + period * 1000 * 60 * 60 * 24) : null;
                    $('#borrow_select_user_borrow_date').datebox('setValue', date);
                    $('#borrow_select_user_return_date').datebox('setValue', deadline);

                });
            }
        });
        function selectUser(callback) {
            var $doc = $(document);
            var height = screen.availHeight * 0.5, width = screen.availWidth * 0.3;
            var $div = $('<div/>', {height: height, width: width});
            $div.dialog({
                title: '请选择',
                closed: false,
                cache: true,
                href: '/borrow/select_user',
                modal: true,
                buttons: [{
                    text: '确定',
                    handler: function () {
                        if ($.isFunction(callback)) {
                            var data = $div.find('#borrow_dg_users').datagrid('getChecked');
                            if (data && data.length > 0) {
                                $div.dialog('close');
                                callback(data);
                            } else {
                                $.messager.alert('提示', '请选择数据!');
                            }
                        }
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        $div.dialog('close');
                    }
                }]
            });
        }

        $('.dt').datetimebox({
            showSeconds: false,
        });
        $('#borrow_dlg_dg').datagrid({
            height: 270,
            fitColumns: true,
            singleSelect: true,
            columns: [[
                {field: 'ck', checkbox: true},
                {field: 'id', title: 'ID', hidden: true},
                {field: 'code', title: '图书编号'},
                {field: 'name', title: '图书名称', width: 190},
                {
                    field: 'null', title: '操作', formatter: function (val, row) {
                    return "<a href='javascript:void(0);' onclick='javascript:$.borrow.removeCurrentRow(this)'>删除</a>";
                }
                }
            ]]
        });

        $('#borrow_dg').datagrid({
            url: '/books/list',
            method: 'get',
            iconCls: 'icon-save',
            fitColumns: true,
            singleSelect: false,
            pagination: true,
            pageSize: 10,
            rownumbers: true,
            toolbar: [{
                text: '加入借阅库',
                handler: function () {
                    debugger;
                    var rows = $('#borrow_dg').datagrid('getChecked');
                    if (!rows || !rows.length) {
                        $.messager.alert('提示', '请选择要加入的行!');
                        return;
                    }
                    //检测是否勾选已借出或者损毁状态的图书
                    var occupied = $.grep(rows, function (row) {
                        return {BORROWED: true, MISSED: false}[row.STATUS];
                    });
                    if (occupied && occupied.length) {
                        var msg = $.map(occupied, function (item) {
                            return item.name;
                        });
                        $.messager.alert('提示', '以下图书处于借出或损毁状态,不可借阅:<br><br>&nbsp;&nbsp;&nbsp;&nbsp;' + msg.join(','));
                        return;
                    }
                    //检测是否重复加入
                    var $dg_list = $('#borrow_dlg_dg');
                    var selected = $dg_list.datagrid('getRows');
                    var toBeAdded = [];
                    var ids = $.map(selected, function (row) {
                        return row.id;
                    });
                    for (var i = 0; i < rows.length; i++) {
                        if ($.inArray(rows[i].id, ids) > -1) {
                            $.messager.alert('提示', rows[i].name + '已加入借阅列表!');
                        } else {
                            $('#borrow_dlg_dg').datagrid('appendRow', rows[i]);
                        }
                    }
                }
            }, {
                text: '查看借阅库',
                handler: function () {
                    showCacheDialog();
                }
            }],
            columns: [[
                {field: 'ck', checkbox: true},
                {field: 'id', title: 'ID', hidden: true},
                {field: 'code', title: '图书编号'},
                {field: 'name', title: '图书名称'},
                {field: 'author', title: '作者'},
                {field: 'translator', title: '译者'},
                {field: 'publisher', title: '出版社'},
                {
                    field: 'date', title: '出版日期', formatter: function (val, row) {
                    return val ? $.formatDate(new Date(val), 'yyyy-MM-dd') : null;
                }
                },
                {field: 'price', title: '价格'},
                {
                    field: 'STATUS', title: '状态', formatter: function (val, row) {
                    return row.missed ? '损毁遗失' : {RETURNED: '在库', BORROWED: '借出', MISSED: '损毁遗失'}[val || 'RETURNED'];
                }
                },
                {
                    field: 'uname', title: '借阅人'
                },
                {
                    field: 'borrow_date', title: '借阅日期', formatter: function (val, row) {
                    return val ? $.formatDate(val, 'yyyy-MM-dd hh:mm') : '';
                }
                },
                {
                    field: 'deadline', title: '应归还日期', formatter: function (val, row) {
                    return val ? $.formatDate(val, 'yyyy-MM-dd hh:mm') : '';
                }
                },
                {
                    field: 'return_date', title: '实际归还日期', formatter: function (val, row) {
                    return val ? $.formatDate(val, 'yyyy-MM-dd hh:mm') : '';
                }
                },
                {
                    field: 'delay', title: '逾期天数', formatter: function (val, row) {
                    if (row.deadline && row.return_date) {
                        var deadline = row.deadline;
                        var return_date = row.return_date;
                        if (deadline < return_date) {
                            return (return_date.getTime() - deadline.getTime()) / (1000 * 60 * 60 * 24)
                        }
                    }
                }
                }

            ]],
            onHeaderContextMenu: function (e, field) {
                e.preventDefault();
                if (!$.cmenu) {
                    createColumnMenu();
                }
                $.cmenu.menu('show', {
                    left: e.pageX,
                    top: e.pageY
                });
            }
        });
        function createColumnMenu() {
            $.cmenu = $('<div/>').appendTo('body');
            $.cmenu.menu({
                onClick: function (item) {
                    if (item.iconCls == 'icon-ok') {
                        $('#borrow_dg').datagrid('hideColumn', item.name);
                        $.cmenu.menu('setIcon', {
                            target: item.target,
                            iconCls: 'icon-empty'
                        });
                    } else {
                        $('#borrow_dg').datagrid('showColumn', item.name);
                        $.cmenu.menu('setIcon', {
                            target: item.target,
                            iconCls: 'icon-ok'
                        });
                    }
                }
            });
            var fields = $('#borrow_dg').datagrid('getColumnFields');
            for (var i = 0; i < fields.length; i++) {
                var field = fields[i];
                var col = $('#borrow_dg').datagrid('getColumnOption', field);
                $.cmenu.menu('appendItem', {
                    text: col.title,
                    name: field,
                    iconCls: 'icon-ok'
                });
            }
        }

        function showCacheDialog(data) {
            var rows = $('#borrow_dg').data('cache');
            if (rows && rows.length) {
                var $dlg = $('#borrow_dlg_cache');
                $dlg.find('#borrow_dlg_dg').datagrid('loadData', {rows: rows});
                $('#borrow_dlg_cache').dialog('open');
            } else {
                $.messager.alert('提示', '借阅库没有数据!');
            }

        }

        function removeCurrentRow(target) {
            var $this = $(target);
            var index = $this.parents('.datagrid-row').first().attr('datagrid-row-index')
            var $dg = $this.parents('.datagrid-view').first().find('.datagrid-f');
            $dg.datagrid('deleteRow', index);
            var rows = $dg.datagrid('getRows');
            if (!rows || rows.length < 1) {
                $.messager.show({
                    title: '提示',
                    msg: '请选择要借阅的书目!',
                    timeout: 1500,
                    showType: 'fade'
                });
            } else {
                $dg.datagrid('loadData', {rows: rows});
            }
        }

        function submitForm() {
            var user_id = $('#borrow_select_user_code').textbox('getValue');
            var books = $('#borrow_dlg_dg').datagrid('getRows');
            if (!user_id) {
                $.messager.alert('提示', '请选择借书人!');
                return;
            }
            if (!books || books.length < 1) {
                $.messager.alert('提示', '请选择借阅的书目!');
                return;
            }
            var book_ids = $.map(books, function (book) {
                return book.id;
            });
//            $.messager.progress({title:'数据保存中,请稍后...'});
//            var isValid = $('#borrow_dialog_ff').form('enableValidation').form('validate');
//            if(!isValid){
//                $.messager.alert('提示','请选择用户!');
//                return;
//            }
            $.ajax({
                url: 'borrow/action',
                type: 'post',
                dataType: 'json',
                data: {
                    user_id: user_id,
                    book_ids: book_ids
                }
            }).done(function (ret) {
                if (ret.flag) {
                    $.messager.alert('提示', '保存成功!');
                    $('#borrow_dg').datagrid('reload');
                    clearEditDialog();
                } else {
                    $.messager.alert('提示', ret.msg || '保存失败,请检查网络连接或者权限!');
                }
            }).fail(function () {
                $.messager.alert('提示', '保存失败,请检查网络连接或者权限!');
            }).always(function () {
                $.messager.progress('close');
            });

        }

        function clearEditDialog() {
            var $dlg = $('#borrow_dlg_cache');
            $dlg.find('.datagrid-f').datagrid('loadData', {total: 0, rows: []});
            $dlg.find('form').form('clear');
        }

        function removeCache(obj) {
            var rows = $('#borrow_dg').data('cache');
            if (rows && row.length) {
                rows = $.filter(rows, function (i, row) {
                    return row.id != obj.id;
                });
                $('#borrow_dg').data('cache', rows);
            }

        }

        function remove(ids, callback) {
            $.ajax({
                url: '/books/delete',//TODO url
                data: {ids: ids},
                type: 'post',
                dataType: 'json'
            }).done(function (ret) {
                if (ret && ret.flag) {
                    $.messager.alert('提示', '删除成功!');
                } else {
                    $.messager.alert('提示', ret, msg || '删除失败!');
                }
            }).fail(function () {
                $.messager.alert('提示', '删除失败!');
            }).always(function () {
                $.messager.progress('close');
            });
        }

        $.extend({
            borrow: {
                submitForm: submitForm,
                clearEditDialog: clearEditDialog,
                removeCurrentRow: removeCurrentRow
            }
        });
    });

</script>
