<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>鸿合图书管理系统</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/easyui-themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/easyui-themes/icon.css">
    <script type="text/javascript" src="/javascripts/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/javascripts/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/javascripts/dateFormat.js"></script>

</head>
<body class="easyui-layout">
<div data-options="region:'north',border:false" style="height:60px;background:#B3DFDA;padding:10px">
    <div style="width: 93%;display: inline-block;font-size: 20px;font-weight: bold;">鸿合图书管理系统</div>
    <div style="display: inline-block;">
        <a href="#" class="easyui-linkbutton" data-options="plain:true" onclick="$('#personal_information_edit').dialog('open')"><span><%=user.name%></span></a>
        <a href="/login/logout" class="easyui-linkbutton">退出登录</a>
    </div>
</div>
<div id="personal_information_edit" class="easyui-dialog" style="width:100%;max-width:800px;padding:30px 60px;"
     data-options="
        title: '个人信息',
        closed: true,
        modal: true,
        draggable: false
        ">
    <div style="width: 100px;display: inline-block;text-align: center">
        <img src="" style="width: 100px;height: 100px;">
        <a href="#" class="easyui-linkbutton" data-options="plain:false" onclick="$('#password_edit').dialog('open')" style="padding: 3px 10px;margin-top: 10px;">修改密码</a>
    </div>
    <div style="width: 42%;display: inline-block;vertical-align: top;margin:0 20px;">
        <div class="easyui-panel" title="个人信息" style="padding:10px;">
            <form id="personal_information_ff" class="easyui-form" method="post" data-options="novalidate:true">
                <div style="margin-bottom:20px">
                    <input class="easyui-textbox" name="name" style="width:100%"
                           data-options="label:'姓名:',editable:false">
                </div>
                <div style="margin-bottom:20px">
                    <input class="easyui-textbox" name="code" style="width:100%"
                           data-options="label:'编号:',editable:false">
                </div>
                <div style="margin-bottom:20px">
                    <input class="easyui-textbox" name="role" style="width:100%"
                           data-options="label:'角色:',editable:false">
                </div>
                <div style="margin-bottom:20px">
                    <input class="easyui-textbox" name="phone" style="width:100%"
                           data-options="label:'电话:',editable:false">
                </div>
                <div style="margin-bottom:20px">
                    <input class="easyui-textbox" name="email" style="width:100%"
                           data-options="label:'邮箱:',editable:false">
                </div>
            </form>
        </div>
        <div id="password_edit" class="easyui-dialog" style="width:100%;max-width:400px;padding:30px 60px;"
             data-options="
        title: '修改密码',
        closed: true,
        modal: true,
        draggable: false,
        buttons: [{
            text: '确认',
            iconCls: 'icon-ok',
            handler: $.password_edit.submitForm
            }, {
            text: '取消',
            iconCls: 'icon-cancel',
            handler: $.password_edit.closeEditDialog
            }]
        ">
            <form id="password_ff" class="easyui-form" method="post" data-options="novalidate:true">
                <div style="margin-bottom:20px">
                    <input class="easyui-textbox" name="name" style="width:100%"
                           data-options="label:'原始密码:',required:true">
                </div>
                <div style="margin-bottom:20px">
                    <input class="easyui-textbox" name="code" style="width:100%"
                           data-options="label:'新密码:',required:true" validType="length[4,32]" id="password" type="password">
                </div>
                <div style="margin-bottom:20px">
                    <input class="easyui-textbox" name="role" style="width:100%"
                           data-options="label:'确认密码:',required:true" id="repassword" type="password" validType="equalTo['#password']" invalidMessage="两次输入密码不匹配">
                </div>
            </form>
        </div>
    </div>
    <div style="width: 35%;display: inline-block;vertical-align: top;">
        <div class="easyui-panel" title="借阅统计" style="padding:10px;" >
            <form id="personal_information_books_ff" class="easyui-form" method="post" data-options="novalidate:true">
                <div style="margin-bottom:20px">
                    <input class="easyui-textbox" name="name" style="width:100%"
                           data-options="label:'本年度借阅:',editable:false">
                </div>
                <div style="margin-bottom:20px">
                    <input class="easyui-textbox" name="code" style="width:100%"
                           data-options="label:'本季度借阅:',editable:false">
                </div>
                <div style="margin-bottom:20px">
                    <input class="easyui-textbox" name="role" style="width:100%"
                           data-options="label:'本月度借阅:',editable:false">
                </div>
                <div style="margin-bottom:20px">
                    <input class="easyui-textbox" name="phone" style="width:100%"
                           data-options="label:'是否全部归还:',editable:false">
                </div>
            </form>
        </div>
    </div>
    <div style="margin-top: 20px;">
        <div class="easyui-panel" title="我的借阅记录列表">
            <table id="personal_information_dialog_dg" style="width: 100%" rownumbers="true"></table>
        </div>
    </div>
</div>

<div data-options="region:'west',split:true,title:'菜单'" style="width:150px;padding:10px;">
    <ul id="main_tree_menu" class="easyui-tree"></ul>
</div>
<div data-options="region:'east',split:true,collapsed:true,title:'East'" style="width:100px;padding:10px;">east region
</div>
<div data-options="region:'south',border:false" style="height:50px;background:#A9FACD;padding:10px;">south region</div>
<div id="main_layout_center" class="easyui-tabs" data-options="region:'center'" style="padding: 0px;">
</div>
<script>
    $('#personal_information_books_ff').form({
        url:'/books/list'
    })
    $('#personal_information_ff').form({
        url:'/users/list'
    })
    $('#personal_information_dialog_dg').datagrid({
        url: '/books/list',
        method: 'get',
        iconCls: 'icon-save',
//            width: 700,
//            height: 250,
        fitColumns: true,
        singleSelect: true,
        pagination: true,
        pageSize: 5,
        pageList: [5,10,15,20],
        columns: [[
            {field: 'id', title: 'ID', hidden: true},
            {field: 'code', title: '图书编号'},
            {field: 'name', title: '图书名称'},
            {field: 'borrow_date', title: '借阅日期'},
            {field: 'deadline', title: '应归还日期'},
            {field: 'return_date', title: '实际归还日期'},
            {field: 'late_days', title: '逾期天数'}
        ]],
        onHeaderContextMenu: function (e, field) {
            e.preventDefault();
            if (!$.cmenu) {
                createColumnMenu();
            }
            $.cmenu.menu('show', {
                left: e.pageX,
                top: e.pageY
            });
        }
    });
    function createColumnMenu() {
        $.cmenu = $('<div/>').appendTo('body');
        $.cmenu.menu({
            onClick: function (item) {
                if (item.iconCls == 'icon-ok') {
                    $('#return_dg').datagrid('hideColumn', item.name);
                    $.cmenu.menu('setIcon', {
                        target: item.target,
                        iconCls: 'icon-empty'
                    });
                } else {
                    $('#return_dg').datagrid('showColumn', item.name);
                    $.cmenu.menu('setIcon', {
                        target: item.target,
                        iconCls: 'icon-ok'
                    });
                }
            }
        });
        var fields = $('#return_dg').datagrid('getColumnFields');
        for (var i = 0; i < fields.length; i++) {
            var field = fields[i];
            var col = $('#return_dg').datagrid('getColumnOption', field);
            $.cmenu.menu('appendItem', {
                text: col.title,
                name: field,
                iconCls: 'icon-ok'
            });
        }
    }

    function showEditDialog(data) {
        if (data) {
            $('#password_ff').form('load', data);
            $('#password_edit').dialog({url: 'edit'});
        } else {
            $('#password_edit').dialog({url: 'add'});
        }
        $('#password_edit').dialog('open');
    }
    function submitForm() {
        $.messager.progress();	// display the progress bar
        $('#password_ff').form('enableValidation').form('submit', {
            onSubmit: function () {
                var isValid = $(this).form('validate');
                if (!isValid) {
                    $.messager.progress('close');	// hide progress bar while the form is invalid
                }
                return isValid;	// return false will stop the form submission
            },
            success: function (data) {
                $.messager.progress('close');	// hide progress bar while submit successfully

                if (data.flag) {
                    $.messager.alert('提示', '保存成功!');
                    closeEditDialog();
                } else {
                    $.messager.alert('提示', data.message || '保存失败,请检查网络连接或者权限!');
                }
            }
        });
    }

    function closeEditDialog() {
        $('#password_ff').form('clear');
        $('#password_edit').dialog('close');
    }

    function remove(ids) {
        $.ajax({
            url: '',//TODO url
            data: ids,
            type: 'post',
            dataType: 'json'
        }).done(function (ret) {
            if (ret && ret.flag) {
                $.messager.alert('提示', '删除成功!');
            } else {
                $.messager.alert('提示', ret, msg || '删除失败!');
            }
        }).fail(function () {
            $.messager.alert('提示', '删除失败!');
        });
    }
    $.extend({
        password_edit:{
            submitForm:submitForm,
            closeEditDialog:closeEditDialog
        }
    });
    $.extend($.fn.validatebox.defaults.rules, {
        /*必须和某个字段相等*/
        equalTo: {
            validator: function (value, param) {
                return $(param[0]).val() == value;
            },
            message: '字段不匹配'
        }
    });
</script>

<script>
    $(function () {
        var tree_data = [{
            "id": 1,
            "text": "图书信息",
            "url": "/booksQuery/index"
        },{
            "id": 2,
            "text": "用户管理",
            "url": "/users/index"
        },{
            "id": 3,
            "text": "图书管理",
            "url": "/books/index"
        },{
            "id": 4,
            "text": "借阅记录",
            "url": "/records/index"
        },{
            "id": 5,
            "text": "图书借阅",
            "url": "/borrow/index"
        },{
            "id": 6,
            "text": "图书归还",
            "url": "/return/index"
        }];
        initUI();
        function initUI() {
            $('#main_tree_menu').tree({
                data: tree_data,
                animate: true,
                onClick: function (node) {
                    if (node.text && node.url) {
                        openTab(node.text, node.url);
                    }
                }
            });
            openTab('欢迎使用','/welcome');
        }

        function openTab(title, url) {
            var $tt = $('#main_layout_center');
            if (!$tt.tabs('exists', title)) {
                $tt.tabs('add', {
                    title: title,
                    href: url,
                    closable: true,
                    fit:true,
                    plain:true
                });
            } else {
                $tt.tabs('select', title)
            }

        }
    });
</script>
</body>
</html>
