<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/easyui.css' />
    <link rel='stylesheet' href='/stylesheets/mobile.css' />
    <link rel='stylesheet' href='/stylesheets/icon.css' />
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.easyui.mobile.js"></script>
</head>
<body>
<!--<h1><%= title %></h1>-->
<!--<p>Welcome to <%= title %></p>-->
<div id="cc" class="easyui-layout" style="width:1200px;height:700px;margin:0 auto;">
    <div data-options="region:'north'" style="height:100px;">
        <div class="m-toolbar">
            <div class="m-left">
                <div style="font-size: 20px;margin-left: 20px;height: 90px;line-height: 90px;">鸿合图书管理系统</div>
            </div>
            <div class="m-right">
                <div style="margin-top: 45px;">
                    <span>张三</span>
                    <img src="images/u45.png" style="height: 50px;width: 50px;margin-left: 10px;"/>
                </div>
            </div>
        </div>
    </div>
    <div data-options="region:'west'" style="width:100px;">
        <ul class="easyui-tree">
            <li><span>图书信息</span></li>
            <li><span>用户管理</span></li>
            <li><span>图书管理</span></li>
            <li><span>借阅记录</span></li>
            <li><span>图书借阅</span></li>
            <li><span>图书归还</span></li>
        </ul>
    </div>
    <div data-options="region:'center'" style="padding:5px;background:#eee;">
        <div class="" style="width:100%;max-width:400px;padding:10px 0px;">
            <input class="easyui-searchbox" data-options="prompt:'员工编号/员工名称',menu:'#mm',searcher:doSearch" style="width:100%">
        </div>
        <div id="mm">
            <div data-options="name:'users'">普通用户</div>
            <div data-options="name:'manager'">管理员</div>
            <div data-options="name:'system_manager'">系统管理员</div>
        </div>
        <div style="margin-bottom:5px" id="">
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="$('#dlg').dialog('open')">新增</a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="eidt();">编辑</a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true" onclick="del();">删除</a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-redo',plain:true" onclick="$('#dlg_redo').dialog('open')">导入</a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" onclick="">导出</a>
        </div>
        <div id="dlg" class="easyui-dialog" title="用户信息" style="width:400px;height:400px;padding:10px"
             data-options="buttons: '#dlg-buttons'">
            <div class="easyui-dialog-detail">
                <div>员工编号：</div><input type="text" placeholder="员工编号"><span>*</span>
                <div>员工姓名：</div><input type="text" placeholder="员工名称"><span>*</span>
                <div>员工性别：</div><div style="width: 100px;"><input type="radio" style="width: 15px;height: 15px;float: left;margin-top: 17px;" name="sex">男</div>
                <div style="width: 100px;"><input type="radio" style="width: 15px;height: 15px;float: left;margin-top: 17px;" name="sex">女</div><span>*</span>
                <div>联系方式：</div><input type="text"><span>*</span>
                <div>电子邮箱：</div><input type="text" placeholder="电子邮箱"><span>*</span>
                <div>用户权限：</div><input type="text"><span>*</span>
            </div>
        </div>
        <div id="dlg-buttons">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript:alert('save')">确定</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript:$('#dlg').dialog('close')">取消</a>
        </div>
        <div id="dlg_redo" class="easyui-dialog" title="导入" style="width:400px;height:200px;padding:10px"
             data-options="buttons: '#dlgredo-buttons'">
            <div class="easyui-dialog-detail">
                <input type="file">
            </div>
        </div>
        <div id="dlgredo-buttons">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript:alert('save')">确定</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript:$('#dlg_redo').dialog('close')">取消</a>
        </div>
        <table id="tt" class="easyui-datagrid" style="width:1000px;height:500px"
               data-options="url:'datagrid_data.json',method:'get',pagination:true,idField:'itemid',iconCls:'icon-save'">
            <thead>
            <tr>
                <th field="ck" checkbox="true"></th>
                <th field="itemid" width="80" align="center">序号</th>
                <th field="code" width="140" align="center">员工编号</th>
                <th field="name" width="120" align="center">员工名称</th>
                <th field="gender" width="90" align="center">员工性别</th>
                <th field="phone" width="200" align="center">联系方式</th>
                <th field="email" width="220" align="center">电子邮箱</th>
                <th field="role" width="120" align="center">用户权限</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<script>
    function doSearch(value,name){
        alert('You input: ' + value+'('+name+')');
    }
    function add(){
        alert("111");
    }
</script>
</body>
</html>
