<div style="width:60%">
    <input class="easyui-searchbox" data-options="prompt:'请输入图书名称或图书编号',searcher: function (name) {
        $('#records_dg').datagrid('load', {
            name:encodeURIComponent(name)
        });
    }" style="width:100%">
</div>
<table id="records_dg" style="height: 97%;width: 99%"></table>
<script type="text/javascript">
    $(function () {
        $('#records_dg').datagrid({
            url: '/records/list',
            method: 'get',
            iconCls: 'icon-save',
            fitColumns: true,
            singleSelect: false,
            pagination: true,
            pageSize: 10,
            rownumbers:true,
            columns: [[
                {field: 'id', title: 'ID', hidden: true},
                {
                    field: 'bcode', title: '图书编号'
                },
                {
                    field: 'bname', title: '图书名称'
                },
                {
                    field: 'uname', title: '借阅人'
                },
                {
                    field: 'borrow_date', title: '借阅日期', formatter: function (val, row) {
                        return val ? $.formatDate(val,'yyyy-MM-dd hh:mm') : '';
                    }
                },
                {
                    field: 'deadline', title: '应归还日期', formatter: function (val, row) {
                        return val ? $.formatDate(val,'yyyy-MM-dd hh:mm') : '';
                    }
                },
                {
                    field: 'return_date', title: '实际归还日期', formatter: function (val, row) {
                        return val ? $.formatDate(val,'yyyy-MM-dd hh:mm') : '';
                    }
                },
                {
                    field: 'delay', title: '逾期天数', formatter: function (val, row) {
                    if (row.deadline && row.return_date) {
                        var deadline = row.deadline;
                        var return_date = row.return_date;
                        if (deadline < return_date) {
                            return (return_date.getTime() - deadline.getTime()) / (1000 * 60 * 60 * 24)
                        }
                    }
                }
                }

            ]],
            onHeaderContextMenu: function (e, field) {
                e.preventDefault();
                if (!$.cmenu) {
                    createColumnMenu();
                }
                $.cmenu.menu('show', {
                    left: e.pageX,
                    top: e.pageY
                });
            },
            loadFilter: function (data) {
                if (data && data.rows) {
                    function resetDateFields(obj) {
                        if ($.isPlainObject(obj)) {
                            $.each(['borrow_date', 'deadline', 'return_date'], function (i,field) {
                                if (obj[field]) {
                                    obj[field] = new Date(obj[field]);
                                }
                            });
                        }

                    }
                    $.each(data.rows, function (i,val) {
                        resetDateFields(val);
                    });
                    return data;
                } else {
                    return data;
                }
            }
        });
        function createColumnMenu() {
            $.cmenu = $('<div/>').appendTo('body');
            $.cmenu.menu({
                onClick: function (item) {
                    if (item.iconCls == 'icon-ok') {
                        $('#records_dg').datagrid('hideColumn', item.name);
                        $.cmenu.menu('setIcon', {
                            target: item.target,
                            iconCls: 'icon-empty'
                        });
                    } else {
                        $('#records_dg').datagrid('showColumn', item.name);
                        $.cmenu.menu('setIcon', {
                            target: item.target,
                            iconCls: 'icon-ok'
                        });
                    }
                }
            });
            var fields = $('#records_dg').datagrid('getColumnFields');
            for (var i = 0; i < fields.length; i++) {
                var field = fields[i];
                var col = $('#records_dg').datagrid('getColumnOption', field);
                $.cmenu.menu('appendItem', {
                    text: col.title,
                    name: field,
                    iconCls: 'icon-ok'
                });
            }
        }
    });

</script>
