<div style="width:60%">
    <input class="easyui-searchbox" data-options="prompt:'请输入图书名称或图书编号或借阅人',searcher:function (name) {
        $('#return_dg').datagrid('load',{
            name:encodeURIComponent(name)
        });
    }" style="width:300px;">
    <a href="#" class="easyui-linkbutton" data-options="plain:false" onclick="$('#return_dlg_edit').dialog('open')">归还</a>
</div>
<script>
    function doSearch(name) {
        $('#users_dg').datagrid('load',{
            name:name
        });
    }
</script>
<table id="return_dg" style="height: 97%;width: 99%"></table>
<div id="return_dlg_edit" class="easyui-dialog" style="width:100%;max-width:700px;padding:30px 60px;"
     data-options="
                    title: '图书信息',
                    closed: true,
                    modal: true,
                    draggable: false,
                    buttons: [{
                    text: '归还',
                    iconCls: 'icon-ok',
                    handler: $.return.submitForm
                    }, {
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: $.return.closeEditDialog
                    }]
                    ">
    <table id="return_dialog_dg" style="width: 99%"></table>
</div>

<script type="text/javascript">
    $(function () {
        $('#return_dialog_dg').datagrid({
            url: 'books/list',
            method: 'get',
            iconCls: 'icon-save',
//            width: 700,
//            height: 250,
            fitColumns: true,
            singleSelect: false,
            pagination: true,
            pageSize: 10,
            toolbar: [{
                text: '删除',
                iconCls: 'icon-cancel',
                handler: function () {
                    var rows = $('#return_dialog_dg').datagrid('getChecked');
                    if (!rows || !rows.length) {
                        $.messager.alert('提示', '请选择要删除的行!');
                        return;
                    }
                    $.messager.confirm('提示', '是否确定删除这' + rows.length + '条数据?', function (r) {
                        if (r) {
                            remove($.map(rows, function (i, row) {
                                return row.id;
                            }), function () {
                                $('#return_dialog_dg').datagrid('reload');
                            });
                        }
                    });
                }
            }],
            columns: [[
                {field: 'ck', checkbox: true},
                {field: 'id', title: 'ID', hidden: true},
                {field: 'code', title: '图书编号'},
                {field: 'name', title: '图书名称'},
                {field: 'e_user_id', title: '借阅人'},
                {field: 'borrow_data', title: '借阅日期'},
                {field: 'deadline', title: '应归还日期'},
                {field: 'actual_return_days', title: '实际归还日期'},
                {field: 'arrears', title: '逾期天数'},
                {field: 'status', title: '状态'}
            ]],
            onHeaderContextMenu: function (e, field) {
                e.preventDefault();
                if (!$.cmenu) {
                    createColumnMenu();
                }
                $.cmenu.menu('show', {
                    left: e.pageX,
                    top: e.pageY
                });
            }
        });
        $('#return_dg').datagrid({
            url: 'books/list',
            method: 'get',
            iconCls: 'icon-save',
//            width: 700,
//            height: 250,
            fitColumns: true,
            singleSelect: false,
            pagination: true,
            pageSize: 10,
            columns: [[
                {field: 'ck', checkbox: true},
                {field: 'id', title: 'ID', hidden: true},
                {field: 'code', title: '图书编号'},
                {field: 'name', title: '图书名称'},
                {field: 'e_user_id', title: '借阅人'},
                {field: 'borrow_data', title: '借阅日期'},
                {field: 'deadline', title: '应归还日期'},
                {field: 'arrears', title: '逾期天数'}
            ]],
            onHeaderContextMenu: function (e, field) {
                e.preventDefault();
                if (!$.cmenu) {
                    createColumnMenu();
                }
                $.cmenu.menu('show', {
                    left: e.pageX,
                    top: e.pageY
                });
            }
        });
        function createColumnMenu() {
            $.cmenu = $('<div/>').appendTo('body');
            $.cmenu.menu({
                onClick: function (item) {
                    if (item.iconCls == 'icon-ok') {
                        $('#return_dg').datagrid('hideColumn', item.name);
                        $.cmenu.menu('setIcon', {
                            target: item.target,
                            iconCls: 'icon-empty'
                        });
                    } else {
                        $('#return_dg').datagrid('showColumn', item.name);
                        $.cmenu.menu('setIcon', {
                            target: item.target,
                            iconCls: 'icon-ok'
                        });
                    }
                }
            });
            var fields = $('#return_dg').datagrid('getColumnFields');
            for (var i = 0; i < fields.length; i++) {
                var field = fields[i];
                var col = $('#return_dg').datagrid('getColumnOption', field);
                $.cmenu.menu('appendItem', {
                    text: col.title,
                    name: field,
                    iconCls: 'icon-ok'
                });
            }
        }

        function showEditDialog(data) {
            if (data) {
                $('#return_ff').form({url: '/books/update'});
                $('#return_ff').form('load', data);
                $('#return_dlg_edit').dialog({url: 'edit'});
            } else {
                $('#return_ff').form({url: '/books/add'});
                $('#return_dlg_edit').dialog({url: 'add'});
            }
            $('#return_dlg_edit').dialog('open');
        }
        function submitForm() {
            $.messager.progress({title:'数据保存中,请稍后...'});	// display the progress bar
            $('#return_dialog_dg_ff').form('submit', {
                onSubmit: function () {
                    var isValid = $(this).form('validate');
                    if (!isValid) {
                        $.messager.progress('close');	// hide progress bar while the form is invalid
                    }
                    return isValid;	// return false will stop the form submission
                },
                success: function (data) {
                    data = $.parseJSON(data);
                    $.messager.progress('close');	// hide progress bar while submit successfully

                    if (data.flag) {
                        $.messager.alert('提示', '保存成功!');
                        $('#return_dialog_dg_ff').datagrid('reload');
                        closeEditDialog();
                    } else {
                        $.messager.alert('提示', data.message || '保存失败,请检查网络连接或者权限!');
                    }
                }
            });
        }

        function closeEditDialog() {
            $('#return_ff').form('clear');
            $('#return_dlg_edit').dialog('close');
        }

        function remove(ids,callback) {
            $.ajax({
                url: '/books/delete',//TODO url
                data: {ids: ids},
                type: 'post',
                dataType: 'json'
            }).done(function (ret) {
                if (ret && ret.flag) {
                    if($.isFunction(callback)){
                        callback();
                    }
                    $.messager.alert('提示', '删除成功!');
                } else {
                    $.messager.alert('提示', ret, msg || '删除失败!');
                }
            }).fail(function () {
                $.messager.alert('提示', '删除失败!');
            }).always(function () {
                $.messager.progress('close');
            });
        }
        $.extend({
            return:{
                submitForm:submitForm,
                closeEditDialog:closeEditDialog
            }
        });
    });

</script>