body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:639px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u240 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u242 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:375px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u243 {
  position:absolute;
  left:261px;
  top:77px;
  width:378px;
  height:375px;
}
#u244 {
  position:absolute;
  left:2px;
  top:180px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u245 {
  position:absolute;
  left:614px;
  top:77px;
  width:25px;
  height:24px;
}
#u246 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u247 {
  position:absolute;
  left:404px;
  top:106px;
  width:91px;
  height:41px;
  font-size:18px;
  text-align:center;
}
#u248 {
  position:absolute;
  left:0px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u249 {
  position:absolute;
  left:324px;
  top:360px;
  width:89px;
  height:25px;
}
#u249_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u250 {
  position:absolute;
  left:468px;
  top:360px;
  width:89px;
  height:25px;
}
#u250_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u251 {
  position:absolute;
  left:320px;
  top:183px;
  width:70px;
  height:21px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u252 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u253 {
  position:absolute;
  left:418px;
  top:176px;
  width:150px;
  height:35px;
}
#u253_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u254 {
  position:absolute;
  left:320px;
  top:229px;
  width:70px;
  height:21px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u256 {
  position:absolute;
  left:418px;
  top:221px;
  width:150px;
  height:35px;
}
#u256_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u257 {
  position:absolute;
  left:320px;
  top:273px;
  width:70px;
  height:21px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u258 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u259 {
  position:absolute;
  left:418px;
  top:266px;
  width:150px;
  height:35px;
}
#u259_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
