body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:0 auto;
}

a {
  color: #00B7FF;
}
.easyui-dialog .easyui-dialog-detail{
  margin:0 auto;
  width:300px;
}
.easyui-dialog .easyui-dialog-detail div{
  display: inline-block;
  height: 50px;
  line-height: 50px;
}
.easyui-dialog .easyui-dialog-detail input{
  height:25px;
  width:200px;
}
.easyui-dialog .easyui-dialog-detail span{
  color: red;
  margin-left:5px;
}